---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About Us">
    <h1>About Us</h1>
    <p>A little bit about all the wonderful people involved with the website.</p>
    <p>TODO: Create an Author's collection in markdown, one section of this page will contain pages for all author's</p>
</Layout>
