---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contact Us">
    <h1>Contact Us!</h1>
    <p>Fill in the form below to contact us.</p>
    <p>TODO: incorporate form which will send email to Shirley's amazing professional email.</p>
</Layout>